html {
  font-size: 100px;
}
html,
body {
  width: 100%;
  background: #ebf0f5;
  overflow-x: hidden;
  color: #555;
  font-size: .24rem;
}
a,
a:active,
a:hover,
a:visited,
a:target {
  color: #555;
}
.header {
  height: .88rem;
  background: #1c90f2;
}
.header .logo,
.header .title,
.header .login,
.header .menu {
  float: left;
  height: .88rem;
  line-height: .88rem;
  color: #fff;
  font-size: .32rem;
  font-weight: normal;
}
.header .logo {
  box-sizing: border-box;
  padding-left: .7rem;
  border-right: .02rem solid #066dc4;
  width: 2.16rem;
  background: url("../img/icon-logo.png") no-repeat 0.1rem center;
  background-size: .48rem;
}
.header .title {
  padding: 0 .2rem;
  border-left: .02rem solid #61b2f6;
}
.header .login {
  float: right;
  padding: 0 .2rem;
}
.header .menu {
  float: right;
  width: .88rem;
  background: url("../img/btn-nav-fold.png") no-repeat center center;
  background-size: 50%;
}
.nav {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: .3s;
  -webkit-transition: .3s;
}
.nav a {
  float: left;
  width: 16%;
  height: .74rem;
  line-height: .74rem;
  text-align: center;
  font-size: .32rem;
}
.nav a:nth-child(6n+1) {
  margin-right: 2%;
}
.player {
  height: 3.6rem;
  background: #000;
  overflow: hidden;
}
.matchInfo {
  height: 1.44rem;
  padding: .3rem;
  background: #fff;
  overflow: hidden;
}
.matchInfo .top {
  height: .6rem;
  line-height: .6rem;
}
.matchInfo .top .left,
.matchInfo .top .right,
.matchInfo .top .center {
  float: left;
  width: 34%;
  height: 100%;
}
.matchInfo .top .center {
  width: 32%;
  text-align: center;
  color: #999;
  font-size: .24rem;
}
.matchInfo .top .left img,
.matchInfo .top .right img {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  vertical-align: bottom;
}
.matchInfo .top .left span,
.matchInfo .top .right span {
  display: inline-block;
  font-size: .4rem;
  vertical-align: bottom;
}
.matchInfo .top .left {
  float: left;
}
.matchInfo .top .left span {
  margin-left: .24rem;
}
.matchInfo .top .right {
  float: right;
}
.matchInfo .top .right span {
  margin-right: .24rem;
}
.matchInfo .middle {
  position: relative;
  margin: .2rem 0;
  height: .04rem;
  background: #1c90f2;
}
.matchInfo .middle .progress {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: .04rem;
  background: #f82d2d;
}
.matchInfo .bottom {
  height: .4rem;
}
