body,div,ul,li{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul,li{
    list-style: none;
}
#tab{
    margin: 10px auto;
    width: 502px;
}
ul{
    position: relative;
    top: 1px;
}
ul li.select{
    border-bottom: none;
    background: -webkit-linear-gradient(top left,#c00,#00b3ee);
}
li{
    float: left;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #111111;
    cursor: pointer;
}
#tab div{
    display: none;
    clear: both;
    height: 331px;
    /*line-height: 100px;
    text-align: center;*/
    border: 1px solid #111111;
}
#tab div.select{

    display: block;
}
img{max-width: 500px;
    max-height: 331px;
}
embed{
    position: relative;
    left: 35%;
    width: auto;
    height: auto;

}