*{margin: 0;padding: 0;}
.uls li{
    position: relative;
    list-style: none;
    padding: 10px;
    height: 70px;
}
.uls li div:nth-child(odd){
    position: absolute;
    width: 70px;
    height: 70px;
    background: url("../images/default.jpg") no-repeat;
    background-size: 100% 100%;
}
.uls li div img{
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.uls li div:nth-child(even){
    height: 60px;
    padding: 5px 0;
    box-sizing: border-box;
    margin-left: 75px;
}

.uls li div:nth-child(even) h2{
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.uls li div:nth-child(even) p{
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
    height: 28px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;


}