*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    -webkit-user-select: none;
}
.box{
    margin: 10px auto;
    padding: 10px;
    width: 800px;
    border: 1px solid green;
}
.box .head{
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    background: green;
}
.box .head span{
    float: left;
    width: 200px;
}
.box .list li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.box .list li span{
    float: left;
    width: 200px;
}
.box .list li:nth-child(even){
    background: #EEEEEE;
}
.box .list li:hover{
    background: #FFF38F;
}
.page{
    text-align: center;
}
.page span,.page input,.page ul li{
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid green;
    font-size: 12px;
}
.page ul{
    display: inline-block;
}
.page ul li{
    width: 20px;
}
.page ul li.bg{
    color: #FFFFFF;
    background: green;
}
