*{margin: 0;padding: 0;}
.banner{
    width: 1000px;
    height: 300px;
    margin: 30px auto;
    position: relative;
    background: url("../images/default.gif")no-repeat center #cccccc;
    overflow: hidden;
}
.banner .bannerInner{
    width: 1000px;
    position: absolute;
    left: 0;
    top: 0;
}
.banner .bannerInner div{
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 1000px;
    height: 300px;
}
.banner .bannerInner img{
    width: 100%;
    height: 100%;
    border: none;
    vertical-align: top;
    display: none;
}
.banner ul{
    list-style: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 88;
}
.banner ul li{
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 3px;
    cursor: pointer;
}
.banner ul li.selected{background: red;}
.banner .left,.banner .right{
    z-index: 99;
    display: none;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    background: url("../images/pre.png") no-repeat;

}
.banner .right{
    right: 0px;
    background-position-x:-47px;
}